@page
@using static Nedflix.Pages.IndexModel;
@model Nedflix.Pages.IndexModel
@{ViewData["Title"] = "Nedflix";}

	@{
		foreach(MovieList.Movie i in Model.mList.items)
		{
			<div>
			<p>Название: @i.nameRu</p>
			<p>Жанры: @foreach (var j in i.genres){ <p>@j.genre </p> }
				</div>
		}
	}

<script>
	//fetch("/").then(r=>r.json()).then((r)=>alert(r))
</script>